* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #051650;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
    background: linear-gradient(145deg, #051448, #051856);
    box-shadow:  20px 20px 60px #041344, -20px -20px 60px #06195c;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin: 2rem 0 1rem 0;
}

form, select, button, input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
    border: none;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
    margin-top: 5px;
}

form input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
            inset -20px -20px 60px #ffffff;
    transition: 0.3s;

}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    width: 6rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    margin-top: 5px;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
}

form button {
    height: 3rem;
    background-color: #494F55;
    font-size: 1.5rem;
    color: #fff;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.7s ease 0s;
    cursor: pointer;
    outline: none;
}

form button:hover {
    background-color: black;
    box-shadow: 0px 15px 20px #3d5cb8;
    color: #fff;
    transform: translateY(-7px);
}

form button:active {
    transform: translateY(-1px);
  }